<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.mechanization.dao.IOperateTableDao">

    <select id="existTable" resultType="Integer">
        select count(*)
        from information_schema.TABLES
        where LCASE(table_name)=#{tableName}
    </select>

    <update id="dropTable">
        DROP TABLE ${tableName}
    </update>

    <update id="trancateTable">
        TRUNCATE TABLE ${tableName}
    </update>

    <update id="createNewTable_symbol">
        CREATE TABLE ${tableName} (
             open varchar(32) NOT NULL,
             close varchar(32) NOT NULL,
             high varchar(32) NOT NULL,
             low varchar(32) NOT NULL,
             volume varchar(32) NOT NULL,
             lot_volume varchar(32) NOT NULL,
             ma5 varchar(32) NOT NULL,
             ma10 varchar(32) NOT NULL,
             ma20 varchar(32) NOT NULL,
             ma30 varchar(32) NOT NULL,

             ma60 varchar(32) NOT NULL,
             cci varchar(32) NOT NULL,


             chg varchar(32) NOT NULL,
             percent varchar(32) NOT NULL,
             turnrate varchar(32) NOT NULL,
             macd varchar(32) NOT NULL,
             dif varchar(32) NOT NULL,
             dea varchar(32) NOT NULL,
             timestamp varchar(32) NOT NULL,
             time varchar(32) NOT NULL,
          PRIMARY KEY (time))
    </update>


    <update id="createNewTable_coin">
        CREATE TABLE ${tableName} (
             openTime varchar(32)  NOT NULL,
             open varchar(32) NOT NULL,
             high varchar(32) NOT NULL,
             low varchar(32) NOT NULL,
             close varchar(32) NOT NULL,
             closeTime varchar(32) NOT NULL,
             volume varchar(32) NOT NULL,
             quoteAssetVolume varchar(32) NOT NULL,
             numberOfTrades varchar(32) NOT NULL,
             takerBuyBaseAssetVolume varchar(32) NOT NULL,
             takerBuyQuoteAssetVolume varchar(32) NOT NULL,
          PRIMARY KEY (openTime))
    </update>

    <resultMap id="BaseResultMap" type="com.binance.api.client.domain.market.Candlestick">
        <!--<result column="openTime" property="volume" jdbcType="VARCHAR"/>-->
        <result column="open" property="open" jdbcType="VARCHAR"/>
        <!--<result column="high" property="high" jdbcType="VARCHAR"/>-->
        <!--<result column="close" property="close" jdbcType="VARCHAR"/>-->
        <!--<result column="low" property="low" jdbcType="VARCHAR"/>-->
        <!--<result column="closeTime" property="chg" jdbcType="VARCHAR"/>-->
        <!--<result column="volume" property="volume" jdbcType="VARCHAR"/>-->
        <!--<result column="quoteAssetVolume" property="quoteAssetVolume" jdbcType="VARCHAR"/>-->
        <!--<result column="numberOfTrades" property="numberOfTrades" jdbcType="VARCHAR"/>-->
        <!--<result column="takerBuyBaseAssetVolume" property="takerBuyBaseAssetVolume" jdbcType="VARCHAR"/>-->
        <!--<result column="takerBuyQuoteAssetVolume" property="takerBuyQuoteAssetVolume" jdbcType="VARCHAR"/>-->
    </resultMap>

    <select id="queryInfoForLimit_symbol" resultMap="BaseResultMap_symbol">
        SELECT * from  ${tableName}
        ORDER BY ${orderField} limit ${limitStart},${limitEnd}
    </select>

    <select id="queryInfoForLimit_coin" resultMap="BaseResultMap">
        SELECT * from  ${tableName}
        ORDER BY closeTime limit ${limitStart},${limitEnd}
    </select>

    <select id="queryInfoForSum" resultType="FLOAT">
        SELECT SUM(t.close) FROM ( SELECT close from ${tableName}
        ORDER BY ${orderField} limit ${limitStart},${limitEnd}) t
    </select>

    <select id="queryInfoForAvg" resultType="FLOAT">
        SELECT AVG(${field}) FROM ( SELECT * from ${tableName}
        ORDER BY ${orderField} limit ${limitStart},${limitEnd}) t
    </select>

    <update id="updateInfo">
        UPDATE ${tableName} SET ${feild} = ${feildValue} WHERE ${condition} = ${conditionValue}
    </update>

    <insert id="addXueqiuStock">
        insert ignore into ${tableName}
        (volume, open,high,close,low,chg,percent,turnrate,ma5,ma10,ma20,ma30
        ,dif,dea,macd,lot_volume,timestamp,time)
        values
        (#{itemStock.volume},
        #{itemStock.open},
        #{itemStock.high},
        #{itemStock.close},
        #{itemStock.low},
        #{itemStock.chg},
        #{itemStock.percent},
        #{itemStock.turnrate},
        #{itemStock.ma5},
        #{itemStock.ma10},
        #{itemStock.ma20},
        #{itemStock.ma30},
        #{itemStock.dif},
        #{itemStock.dea},
        #{itemStock.macd},
        #{itemStock.lot_volume},
        #{itemStock.timestamp},
        #{itemStock.time}
        )
    </insert>

    <resultMap id="BaseResultMap_symbol" type="com.chris.mechanization.domain.xueqiuData.ItemStock">
        <result column="volume" property="volume" jdbcType="VARCHAR"/>
        <result column="open" property="open" jdbcType="VARCHAR"/>
        <result column="high" property="high" jdbcType="VARCHAR"/>
        <result column="close" property="close" jdbcType="VARCHAR"/>
        <result column="low" property="low" jdbcType="VARCHAR"/>
        <result column="chg" property="chg" jdbcType="VARCHAR"/>
        <result column="percent" property="percent" jdbcType="VARCHAR"/>
        <result column="turnrate" property="turnrate" jdbcType="VARCHAR"/>
        <result column="ma5" property="ma5" jdbcType="VARCHAR"/>
        <result column="ma10" property="ma10" jdbcType="VARCHAR"/>
        <result column="ma20" property="ma20" jdbcType="VARCHAR"/>
        <result column="ma30" property="ma30" jdbcType="VARCHAR"/>
        <result column="dif" property="dif" jdbcType="VARCHAR"/>
        <result column="dea" property="dea" jdbcType="VARCHAR"/>
        <result column="macd" property="macd" jdbcType="VARCHAR"/>
        <result column="lot_volume" property="lot_volume" jdbcType="VARCHAR"/>
        <result column="timestamp" property="timestamp" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addBinanceStock">
        insert ignore into ${tableName}
        (openTime, open,high,close,low,closeTime,volume,quoteAssetVolume,numberOfTrades,takerBuyBaseAssetVolume,takerBuyQuoteAssetVolume)
        values
        (#{itemStock.openTime},
        #{itemStock.open},
        #{itemStock.high},
        #{itemStock.close},
        #{itemStock.low},
        #{itemStock.closeTime},
        #{itemStock.volume},
        #{itemStock.quoteAssetVolume},
        #{itemStock.numberOfTrades},
        #{itemStock.takerBuyBaseAssetVolume},
        #{itemStock.takerBuyQuoteAssetVolume}
        )
    </insert>

</mapper>