<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chris.mechanization.dao.IXueqiuDayDao">

    <insert id="addXueqiuStock">
        insert ignore into ${tableName}
        (volume, open,high,close,low,chg,percent,turnrate,ma5,ma10,ma20,ma30
        ,dif,dea,macd,lot_volume,timestamp,time)
        values
        (#{itemStock.volume},
        #{itemStock.open},
        #{itemStock.high},
        #{itemStock.close},
        #{itemStock.low},
        #{itemStock.chg},
        #{itemStock.percent},
        #{itemStock.turnrate},
        #{itemStock.ma5},
        #{itemStock.ma10},
        #{itemStock.ma20},
        #{itemStock.ma30},
        #{itemStock.dif},
        #{itemStock.dea},
        #{itemStock.macd},
        #{itemStock.lot_volume},
        #{itemStock.timestamp},
        #{itemStock.time}
        )
    </insert>

    <resultMap id="BaseResultMap" type="com.chris.mechanization.domain.xueqiuData.ItemStock">
        <result column="volume" property="volume" jdbcType="VARCHAR"/>
        <result column="open" property="open" jdbcType="VARCHAR"/>
        <result column="high" property="high" jdbcType="VARCHAR"/>
        <result column="close" property="close" jdbcType="VARCHAR"/>
        <result column="low" property="low" jdbcType="VARCHAR"/>
        <result column="chg" property="chg" jdbcType="VARCHAR"/>
        <result column="percent" property="percent" jdbcType="VARCHAR"/>
        <result column="turnrate" property="turnrate" jdbcType="VARCHAR"/>
        <result column="ma5" property="ma5" jdbcType="VARCHAR"/>
        <result column="ma10" property="ma10" jdbcType="VARCHAR"/>
        <result column="ma20" property="ma20" jdbcType="VARCHAR"/>
        <result column="ma30" property="ma30" jdbcType="VARCHAR"/>
        <result column="dif" property="dif" jdbcType="VARCHAR"/>
        <result column="dea" property="dea" jdbcType="VARCHAR"/>
        <result column="macd" property="macd" jdbcType="VARCHAR"/>
        <result column="lot_volume" property="lot_volume" jdbcType="VARCHAR"/>
        <result column="timestamp" property="timestamp" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="queryInfoForLimit" resultMap="BaseResultMap">
        SELECT * from  ${tableName}
        ORDER BY timestamp limit ${limitStart},${limitEnd}
    </select>

    <select id="queryInfoForSum" resultType="FLOAT">
        SELECT SUM(t.close) FROM ( SELECT close from ${tableName}
        ORDER BY timestamp limit ${limitStart},${limitEnd}) t
    </select>

    <update id="updateInfo">
        UPDATE ${tableName} SET ${feild} = ${feildValue} WHERE timestamp = ${timestamp}
    </update>

</mapper>